/* style sheet for personal repository
*/

html {
    background-color: black;
}

h1 {
    font-size: 40px;
    color: ghostwhite;
    text-align: left;
    padding-bottom: 30px;
    padding-left: 30px;
}

body{
    font-size: 24px;
    color: ghostwhite;
    text-align: center;
}

img{
    /*Taken from Professor Lawley's page to set portrait to one side of page
        Changed float right to left
        also added a right side margin */
    float: left;
    padding: 0px;
    border: 10px solid black;
    margin-left: 15px;
    margin-right: 15px;
}